openapi: 3.1.0
info:
  title: Google Cloud Network Services API (Service Mesh) EndpointPolicies Google Cloud Network Services API (Service Mesh) API
  description: REST API for Google Cloud Service Mesh, providing programmatic configuration of application networking (gateways, meshes, routes, endpoint policies, service load balancing policies).
  version: v1
servers:
- url: https://networkservices.googleapis.com
security:
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform
tags:
- name: Google Cloud Network Services API (Service Mesh)
paths:
  /v1/{name}:
    get:
      summary: Get a resource by name
      operationId: getResource
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Cloud Network Services API (Service Mesh)
    delete:
      summary: Delete a resource
      operationId: deleteResource
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Cloud Network Services API (Service Mesh)
    patch:
      summary: Update a resource
      operationId: updateResource
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Cloud Network Services API (Service Mesh)
  /v1/{name}:cancel:
    post:
      summary: Cancel a long-running operation
      operationId: cancelOperation
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Cancel response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Cloud Network Services API (Service Mesh)
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage Google Cloud data
x-generated-from: https://cloud.google.com/service-mesh/docs/reference/network-services/rest
x-generated-by: claude-crawl-2026-05-08
